{% extends "bootstrap/base.html"  %}
{% block head %}
  {{  super()  }}
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"  type='image/x-icon'/>
  <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico')  }}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

<!-- app必備navbar -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cat Recognizer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/leemengtaiwan/cat-recognition-app" target="_blank">Github</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<!-- 定義頁面最大的container, 之後每頁的內容都放在page_content裡頭.
     content block是pre-defined keyword, page_content是自定義的 -->

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>

  

{% endblock %}
