{% extends "base.html" %}
{% block title %}
  Cat Recognizer
{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col-md-12 col-lg-12 text-center">
    <button onclick="toggle_left_panel()" class="btn btn-success">Toggle Gallery</button>
  </div>

  <!-- prediction part -->
  <div id="left_panel" class="col-md-6 text-center">
    <div>
        <!-- image upload part -->
        <div id="upload" class="row">
          <h3>Upload image</h3>
          <form method=post action="{{ url_for('make_prediction') }}" enctype=multipart/form-data>
            <div class='form-group'>
              <label class="btn btn-default btn-file">
                  Browse<input type="file" name=file style="display: none;" accept="image/*" onchange="this.form.submit();">
              </label>
              <button type="submit" style="display: none;"></button>
            </div>
          </form>
        </div>

        <!-- prediction -->
        {% if cat_prob is defined %}
          <div id="prediction" class="row">
            <div class="col-md-12 text-center">
                <h4>
                  {% if cat_prob > dog_prob %}
                    <img src="static/images/cat_red.png"  height="42" width="42">
                    <span style="color:red">Catness: {{cat_prob}}%</span> | Dogness: {{dog_prob}}%
                    <img src="static/images/dog.jpg" height="42" width="42">
                  {% else %}
                    <img src="static/images/cat.png"  height="42" width="42">
                    Catness: {{cat_prob}}% | <span style="color:red">Dogness: {{dog_prob}}%</span>
                    <img src="static/images/dog_red.jpeg" height="42" width="42">
                  {% endif %}
                </h4>
            </div>
          </div>
          <!-- render uploaded image -->
          <div class="row" style="margin-top: 15px">
            <div class="col-sm-12 col-md-12">
              <a href="{{cur_image_path}}" data-toggle="lightbox">
                <img class="img-responsive uploaded centered" src="{{cur_image_path}}" >
              </a>
            </div>
          </div>
        {% endif %}


        <!-- user feedback button -->
        {% if show_feedback is defined and show_feedback %}
          <div class="row">
            <div class="col-md-12 text-center">
              <h4>Is that correct?</h4>
              <p>Teach our AI baby and make it smarter. It's a image about ..</p>
              <form action="{{ url_for('save_user_feedback') }}" method=post>
                <div class='form-group'>
                  <button type="submit" name='label' value="cat" class="btn btn-success btn-lg col-md-2 col-md-offset-1">Cat <img src="static/images/cat.png"  height="21" width="21"></button>
                  <button type="submit" name='label' value="dog" class="btn btn-info btn-lg col-md-2 col-md-offset-1">Dog <img src="static/images/dog1.png" height="21" width="21"></button>
                  <button type="submit" name='label' value="others" class="btn btn-danger btn-lg col-md-2 col-md-offset-1">Others</button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}

        <!-- thank you message -->
        {% if show_thankyou is defined and show_thankyou %}
          <div class="row">
            <div class="col-md-12 text-center">
              <h4>Thank you! Try another image? :D</h4>
            </div>
          </div>
        {% endif %}

    </div>
  </div>
  <!-- gallery part -->
  <div id="right_panel" class="col-md-6 text-center">
      <h3>Recent images <span>({{images|length}} / {{num_stored_images}})</span></h3>
      <h4>{{cur_accuracy * 100}}% predictions are correct! :3</h4>
      <h5>(Based on your feedback)</h5>
      <div class="row gal">
        {% for image in images %}
          <div class="col-md-4 col-sm-6 col-xs-6" style="margin-top: 10px;">
            <p>
              {% if image['cat_prob'] > image['dog_prob'] %}
                <span style="color:red">{{image['cat_prob']}}</span>
                <img src="static/images/cat_red.png"  height="32" width="32">|
                <img src="static/images/dog.jpg" height="21" width="21">
                {{image['dog_prob']}}
              {% else %}
                {{image['cat_prob']}}
                <img src="static/images/cat.png"  height="21" width="21">|
                <img src="static/images/dog_red.jpeg" height="32" width="32">
                <span style="color:red">{{image['dog_prob']}}</span>
              {% endif %}
            </p>
              <a href="{{image['path']}}" data-toggle="lightbox"
                 data-title="Catness: {{image['cat_prob']}}%</span> | Dogness: {{image['dog_prob']}}%"
                 data-footer="Feedback: {{image['label']}}">
                <img class="img-responsive gal" src="{{image['path']}}">
              </a>

          </div>

        {% endfor %}


      </div>
  </div>
</div>



{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
  <script src="{{url_for('static', filename='custom.js')}}"></script>
  <script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
  </script>
{% endblock %}
