{% extends "base.html" %}
{% block title %}
  Cat Recognizer
{% endblock %}
{% block page_content %}

<div class="row">
    <div class="col-md-6">
        <div>
            <h3>Upload new Images</h3>
            <form method=post enctype=multipart/form-data>
              <input type=file name=file>
              <input type=submit value=Upload>
            </form>
            {% if prob > 50 %}
                <h4>We're {{prob}} % sure it's a cat image :D</h4>
            {% else %}
                <h4>We don't think it's a cat image :O</h4>
            {% endif %}
            <img src="{{cur_image_path}}" class="img-responsive">
        </div>
    </div>
    <div class="col-md-6">
        <div>

            <h3>Show Prediction History</h3>

        </div>
    </div>
</div>


{% endblock %}
